.delete-confirmation-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1000;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.3s ease-in-out opacity, 0.3s ease-in-out z-index;
  &.before-animated{
    backdrop-filter: blur(1px);
  }
  &.animated{
    opacity: 1;
    backdrop-filter: blur(10px);
    z-index: 1000;
  }
  .delete-confirmation {
    text-align: center;

    .title {
      font-weight: 500;
      font-size: 36px;
      padding-left: 13px;
    }
    .sub-title {
      font-weight: 500;
      font-size: 18px;
    }
    .preview {
      margin-top: 74.2px;
      display: inline-block;
      // border-top: 1px solid black;
      width: fit-content;
      // padding: 0 40px;
      text-align: center;
      position: relative;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      // &>div{
      //   transform: translateY(-50%);
      // }
      .preview-content{
        display: flex;
        justify-content: center;
        align-items: center;
              .icon {
        display: inline-block;
        margin-left: 40px;

        .line {
          // width: 35.5px;
          margin-right: 35.5px;

          .sign-input {
            // width: 35.5px;
            * {
              min-width: 35.5px;
              height: 35.5px;
              border: none;
              border-radius: 8.87px;
              background-color: #ea0b2a;
              font-size: 23.25px;
              color: white;
              text-align: center;
            }
          }
        }
        .station {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 25.8px;
          svg {
            &.square {
              zoom: 0.9;
            }
            &.triangle {
              zoom: 1.05;
            }
            &.start {
              zoom: 1.15;
            }
            &.hexagon {
              zoom: 0.9;
            }
            &.pentagon {
              zoom: 1.1;
            }
          }
        }
      }
      .text {
        margin-right: 40px;
        display: inline-block;
        font-weight: 500;
        font-size: 18px;
     
        line-height: 35.5px;
        // vertical-align: middle;
      }
      }

      .delete-line {
        border-top: 1px solid #ea0b2a;
        position: absolute;
        top: 50%;
        width: 100%;
        transition: 0.3s ease-in-out;
        // animation-delay: 5s;
        transition-delay: 0.3s;
      }
    }

    .delete {
      font-weight: 500;
      font-size: 18px;
      margin-top: 104.8px;
      cursor: pointer;
      color: #ea0b2a;
    }
    .back {
      margin-top: 16.12px;
      font-weight: 500;
      font-size: 18px;
      cursor: pointer;
    }
  }
}
