.line-card {
    width: 455px;
    height: 250px;
    border-radius: 23px;
    box-shadow: 0 4px 59px 7px rgba(0, 0, 0, 0.25);
    display: inline-block;
    margin-left: 50px;
    margin-bottom: 50px;
    // zoom: 0.8;
    --margin-left: 33px;
    background-color: rgba(255, 255, 255, 0.863);
    backdrop-filter: blur(15px);
    position: relative;
    transition: 0.3s ease-in-out width;
    overflow-x: hidden;
    .tools {
        position: absolute;
        right: 0;
        .tool-item {
            vertical-align: top;
            height: 34px;
            width: 34px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin: 14.5px 11.3px 0 0;
            background-color: #d9d9d9;
            border-radius: 7.25px;
            .expend-icon {
                height: 15px;
                width: 15px;
            }
            .edit-icon {
                height: 17.74px;
                width: 17.74px;
            }
        }
    }
    .stations-count {
        font-size: 18px;
        font-weight: 500;

        margin: 23px 0 0 var(--margin-left);
    }
    .line-name {
        & > * {
            font-size: 24px;
            font-weight: 500;
        }

        margin: 2px 0 0 var(--margin-left);
    }

    .from-to {
        font-size: 18px;
        font-weight: 500;
        margin: 5px 0 0 var(--margin-left);
        color: #ababab;
    }
    .edit-detail {
        .name-detail {
            margin-top: 22.58px;
            white-space: nowrap;
            width: 254.2px;
            overflow-y: visible;
            overflow-x: scroll;
            height: 100px;
            &::-webkit-scrollbar {
                display: none;
                // width: 0.01px;
            }
            .name-item {
                display: inline-block;
                margin-right: 24.2px;
                vertical-align: top;
                &:first-child {
                    margin-left: 32.25px;
                }
                .title {
                    font-size: 11.25px;
                    font-weight: 500;
                    color: #ea0b2a;
                }
                input {
                    margin-top: 21.77px;
                    padding: 0;
                }
                .sign-input {
                    // width: 35.5px;
                    * {
                        min-width: 35.5px;
                        height: 35.5px;
                        border: none;
                        border-radius: 8.87px;
                        background-color: #ea0b2a;
                        font-size: 23.25px;
                        color: white;
                        text-align: center;
                    }
                }
                .line-name-input,
                .order-input {
                    * {
                        font-size: 36px;
                        border: none;
                        font-weight: 500;
                        // width: 100px;
                        margin-top: 14px;
                    }
                }
                .order-input {
                    width: 30px;
                }
            }
        }
        .color-detail {
            .color-detail-choosing {
                box-sizing: border-box;
                padding: 21px 32.25px;
                width: 255px;
                display: grid;
                grid-template-columns: repeat(5, 20%);
                grid-template-rows: repeat(2, 50%);
                grid-row-gap: 9px;
                grid-column-gap: 6px;
                .color-preview {
                    cursor: pointer;
                    width: 19.5px;
                    height: 19.5px;
                    border-radius: 50%;
                    border: 2px solid;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .color-preview-inner {
                        width: 16.9px;
                        height: 16.9px;
                        border-radius: 50%;
                    }
                }
            }
            .custom-color {
                margin: 0 32.25px;
                border-top: 1px dashed black;
                width: 197px;
                box-sizing: border-box;
                padding-top: 15px;
                // padding-left: 10px;
                .selected-color-preview {
                    .color-input {
                        // width: 19.5px;
                        // height: 19.5px;
                        // border-radius: 50%;
                        display: inline-block;
                    }
                    .color-value {
                        display: inline-block;
                        margin-left: 15px;
                        font-size: 15.25px;
                        font-weight: 500;
                        width: 100px;
                        text-decoration: underline;
                        vertical-align: top;
                        margin-top: 1px;
                        border: none;
                    }
                }
            }
        }
        .operation-detail {
            .operation-item {
                &:first-child {
                    margin-top: 15px;
                }
                &:last-child {
                    margin-bottom: 15px;
                }
                margin-left: 32.25px;
                margin-top: 8px;
                margin-bottom: 8px;
                color: #2196f3;
                font-size: 18px;
                font-weight: 500;
                cursor: pointer;
                &.delete {
                    color: #ea0b2a;
                }
            }
        }
    }
    .station-bar {
        margin: 30px 0 0 0;
        white-space: nowrap;
        width: 455px;
        overflow-x: scroll;
        overflow-y: hidden;
        transition: 0.3s ease-in-out width;

        &::-webkit-scrollbar {
            display: none;
            // width: 0.01px;
        }
        .add-first {
            width: var(--margin-left);
            display: inline-block;
        }
        .station-block {
            display: inline-block;
            width: 161px;
            height: 78.22px;
            border-left: 1px solid #cccccc;
            position: relative;
            .track {
                display: flex;
                background-color: #f0f0f0;
                width: 161px;
                height: 48.3px;
                .sleeper {
                    border-left: 1px solid #cccccc;
                    width: 53.6px;
                    &:first-child {
                        border: none;
                    }
                }
            }
            .bend-first {
                position: absolute;
                top: 7.215px;
                left: 9.5px;
                height: 33.87px;
                width: 133.8px;
                background-color: #d9d9d9;
                border-radius: 4px;
                display: flex;
                align-items: center;
                .bend-icon {
                    width: 16px;
                    height: 16px;
                    display: inline-block;
                    margin: 0 13px 0 18.5px;

                    &.bend {
                        transform: rotate(-45deg);
                    }
                }
                .bend-des {
                    display: inline-block;
                    font-size: 14.25px;
                    font-weight: 500;
                    color: rgb(0, 0, 0, 0.5);
                }
            }
            .station-name {
                font-size: 18px;
                font-weight: 500;
                margin: 8px;
                color: #ea0b2a;
            }
        }
    }
    .edit-panel {
        &.edit {
            right: 0;
        }
        width: 200.8px;
        background-color: #f2f2f2;
        position: absolute;
        right: -200.8px;
        top: 0;
        height: 250px;
        transition: 0.3s ease-in-out right;
        .edit-tools {
            width: 200.8px;
            height: 250px;
            overflow-y: scroll;
            overflow-x: hidden;
            &::-webkit-scrollbar {
                display: none;
                // width: 0.01px;
            }
            .edit-tool {
                &:first-child {
                    margin: 21.7px 21.7px 2px 21.7px;
                }
                &:last-child {
                    margin: 2px 21.7px 21.7px 21.7px;
                }
                cursor: pointer;
                margin: 2px 21.7px 2px 21.7px;
                width: 158px;
                height: 75px;
                border-radius: 11.3px;
                font-weight: 500;
                display: flow-root;
                &.selected {
                    background-color: #d9d9d9;
                }
                .title {
                    font-size: 18px;
                    margin: 12.1px 0 0 20.2px;
                }
                .value {
                    font-size: 11.25px;
                    margin: 4.83px 0 0 20.2px;
                }
                &.color > .value {
                    color: #ea0b2a;
                }
            }
        }

        .done {
            background-color: #2196f3;
            border-radius: 25px;
            width: 74px;
            height: 28.2px;
            position: absolute;
            bottom: 23.4px;
            right: 23.4px;
            display: flex;
            align-items: center;
            .done-icon {
                height: 17.74px;
                width: 17.74px;
                margin: 0 6.5px 0 11.3px;
                path {
                    fill: #ffffff;
                    fill-opacity: 1;
                }
            }
            .done-des {
                font-size: 12px;
                font-weight: 500;
                color: white;
            }
        }
    }
}
