 .ScaleLayer{
   width: 100vw;
   height: 100vh;
   overflow: hidden;
    .transform-layer{
        transform-origin: left top;
        // never use will-change here, it makes child elements blurry
        // will-change: transform;
    }
}