
body{
    margin: 0;
    touch-action: none;
    overscroll-behavior: none;
}

.App{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    user-select: none;
}

*{
    font-family: 'PingFang SC';
    -webkit-tap-highlight-color: transparent;
}