.auto-growth-container {
    position: relative;
    width: fit-content;
    .auto-growth-span {
        // font-size: 36px;
        border: none;
        // font-weight: 500;
        // width: 100px;
        // display: inline-block;
        // margin-top: 14px;
        opacity: 0;
        background-color: transparent;
        white-space: nowrap;
    }
    .auto-growth-input {
        // font-size: 36px;
        white-space: nowrap;

        border: none;
        // font-weight: 500;
        width: calc(100% + 18px);
        // margin-top: 14px;
        position: absolute;
        left: 0;
        padding: 0;
        background-color: transparent;
        &:read-only{
            appearance: none;
            color: inherit;
            opacity: inherit;
            cursor: default;
            border: none;
            &:focus,&:focus-visible{
                outline: none;
            }
        }
    }

    &.disabled{
        .auto-growth-span{
            opacity: 1;
        }
        .auto-growth-input{
            // opacity: 0;
            display: none;
        }
    }
}
